{% extends "app/base.html" %}

{% block content %}

{% load static %}

{% with my_width="5%" %}

<div class="container">
    <br>
    {% if not available_greys_list %}
        <h1>No Available Greyhounds</h1>
    {% else %}
        <h1>Available Greyhounds</h1>

        <table class="table table-image table-striped table-borderless blue">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Dog Friendly</th>
                    <th scope="col">Cat Friendly</th>
                    <th scope="col">Kid Friendly</th>
                </tr>
            </thead>
            <tbody>
            {% for grey in available_greys_list %}
            <tr>
              <td><img src={{ grey.profile_image.url }} class="img-fluid img-thumbnail" style="width:70%"></td>
                <td width={{my_width}}><h4>{{ grey.name }}</h4></td>
              <td width="40%" align="justify">{{ grey.bio }}</td>

                {% if grey.is_dog_friendly == 'YES' %}
                    <td width={{my_width}}><i class="fa fa-check-circle fa-2x" style="color:green"></i></td>
                {% elif grey.is_dog_friendly == 'NO' %}
                    <td width={{my_width}}><i class="fa fa-times-circle fa-2x" style="color:red"></i></i></td>
                {% elif grey.is_dog_friendly == 'MAYBE' %}
                    <td width={{my_width}}><i class="fa fa-question-circle fa-2x" style="color:gray"></i></td>
                {% endif %}

                {% if grey.is_cat_friendly == 'YES' %}
                    <td width={{my_width}}><i class="fa fa-check-circle fa-2x" style="color:green"></i></td>
                {% elif grey.is_cat_friendly == 'NO' %}
                    <td width={{my_width}}><i class="fa fa-times-circle fa-2x" style="color:red"></i></i></td>
                {% elif grey.is_cat_friendly == 'MAYBE' %}
                    <td width={{my_width}}><i class="fa fa-question-circle fa-2x" style="color:gray"></i></td>
                {% endif %}

                {% if grey.is_kid_friendly == 'YES' %}
                    <td width={{my_width}}><i class="fa fa-check-circle fa-2x" style="color:green"></i></td>
                {% elif grey.is_kid_friendly == 'NO' %}
                    <td width={{my_width}}><i class="fa fa-times-circle fa-2x" style="color:red"></i></i></td>
                {% elif grey.is_kid_friendly == 'MAYBE' %}
                    <td width={{my_width}}><i class="fa fa-question-circle fa-2x" style="color:gray"></i></td>
                {% endif %}

            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
</div>

{% endwith %}

{% endblock %}
